[submodule "spacemacs_release-0.200"]
	path = spacemacs_release-0.200
	url = https://github.com/syl20bnr/spacemacs.git
	branch = release-0.200
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
